<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/singleDiary.css">
    <style>
       
    </style>
</head>

<body>
    <div>
        <br><br>
        <div class="filtering">
            <button onclick="edit()"><img class="filtbtn" src="/images/edit.png" alt=""></button><br>
            <button onclick="del()"><img class="filtbtn" src="/images/trashcan.png" alt=""></button><br>
        </div>
        <br>
        {{#each diary}}
        <div class="diary_main">
            <div class="diary_detail">
                <p style="display: none;" id="Id">{{_id}}</p>
                <div class="date_div">
                    <p>Date:</p>
                    <p>{{upDate}}</p>
                </div>
                <div class="title_div">
                    <p>Title:</p>
                    <p>{{title}}</p>
                </div>
                <div class="img_div">
                    <img class="image" src="/images/{{image}}" alt="">
                </div>
                <div class="bio_div">
                    <p>{{bio}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <br><br>
        <div id="edSection" class="editsection" style="display:none ;">
            <div>
                <input type="text" name="" placeholder="new Title" id="title">
                <button class="btn" type="button" onclick="Tsubmit()">change Title</button>
            </div>
            <br>
            <div>
                <input type="file" name="" id="image">
                <button class="btn" type="button" onclick="Isubmit()">change Image</button>
            </div>
            <br>
            <div class="div_textarea">
                <textarea name="" placeholder="update your diary bio" id="bio"></textarea>
                <button class="btn" type="button" onclick="Bsubmit()">change Bio</button>
            </div>
        </div>
    </div>
    <br><br>
</body>
<script>
    const userid=localStorage.getItem('userid')
    const id = document.getElementById('Id').innerText
    const edit = () => {
        document.getElementById('edSection').style.display = 'block'
    }


    const Isubmit = async () => {
        const image = document.getElementById('image').files[0]

        const upformdata = new FormData()
        upformdata.append('image', image)
        upformdata.append('id', id)
        try {
            console.log(id)
            await fetch('/updateImage', {
                method: 'put',
                body: upformdata
            })
            document.getElementById('edSection').style.display = 'none'
            window.location.href = `/Diary?id=${id}`
            alert('Diary updated successfully');

        } catch (err) {
            alert('diary faild succefuly')
        }

    }
    const Tsubmit = async () => {
        const title = document.getElementById('title').value

        const upformdata = new FormData()
        upformdata.append('title', title)
        upformdata.append('id', id)

        try {
            await fetch('/updateTitle', {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, title })
            })
            document.getElementById('edSection').style.display = 'none'
            window.location.href = `/Diary?id=${id}`
            alert('Diary updated successfully');

        } catch (err) {
            alert('diary faild succefuly')
        }

    }
    const Bsubmit = async () => {
        const bio = document.getElementById('bio').value

        const upformdata = new FormData()
        upformdata.append('bio', bio)
        upformdata.append('id', id)
        try {
            await fetch('/updateBio', {
                method: 'put',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id, bio })
            })
            document.getElementById('edSection').style.display = 'none'
            window.location.href = `/Diary?id=${id}`
            alert('Diary updated successfully');

        } catch (err) {
            alert('diary faild succefuly')
        }

    }

    const del = async () => {
        const id = document.getElementById('Id').innerText

        try {
            await fetch('/deleteDairy', {
                method: 'delete',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id })
            })
            alert('Diary deleted successfully');
        } catch (err) {
            alert('diary faild succefuly')
        }

    }

</script>

</html>