<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>all Diary</h1>
    <form action="">
        <input type="date" name="" id="date">
        <a id="findbyDate" onclick="filter()">find</a>
    </form>

    {{#each diaries}}
    <a onclick="getId(event)" data-id="{{_id}}">
        <p>{{title}}</p>
        <p>{{upDate}}</p>
        <img class="image" src="/images/{{image}}" alt="">
        <p>{{bio}}</p>
    </a>
    {{/each}}

    <script>
        const filter = () => {
            const bdate = document.getElementById('date').value
            const date = bdate.split('-').reverse().join('/')
            document.getElementById('findbyDate').href = `/DiarybyDate?date=${date}`
        }

        const getId = (e) => {
            const DiaryId = e.currentTarget.getAttribute('data-id')
            e.currentTarget.href = `/Diary?id=${DiaryId}`
            console.log(DiaryId, 'id')
        }


    </script>
</body>

</html>